---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('./posts/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="davebeer.com">
	<main>
		<h1>davebeer.com</h1>

		{ posts.filter(p => p.frontmatter.published !== false).map((post) => {
			return (
			<Card date={post.frontmatter.date} href={post.url} title={post.frontmatter.title} body={post.frontmatter.description}></Card>
			)
		}) }

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		margin-bottom: 1.5rem;
	}
	.post {
		text-decoration: none;
		color: #333;
	}
</style>
