
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Fixed priced quotes for Agile projects</title>
  <meta name="description" content="The difficulty in selling Agile to a client who wants a fixed price">
  <meta name="author" content="Dave Beer">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="stylesheet" href="/css/davebeer.css">
  <link href="/css/enhanced.css" rel="stylesheet" type="text/css" media="screen and (min-width: 760px)" />
<!--[if (lt IE 9)&(!IEMobile)]>
  <link href="/css/enhanced.css" rel="stylesheet" type="text/css" />
<![endif]-->

 
  <link rel="prev" href="/posts/the-cost-of-a-cup-of-tea">
 
 
  <link rel="next" href="/posts/innovation-in-business">
 

  <link rel="me" type="text/html" href="http://profiles.google.com/davebeer?rel=author">
  <link rel="me" type="text/html" href="http://feeds.feedburner.com/DaveBeer"> 
  <link rel="me" type="text/html" href="http://twitter.com/davewasthere"> 
  <link rel="me" type="text/html" href="http://facebook.com/davebeer"> 

</head>

<body>

  <div id="container">

    <header>

    </header>

    <div id="sidebar">

        <div class="content">

            <a href="/" title="home"><img alt="Dave Beer" src="http://www.gravatar.com/avatar/c9711972512e0217bb1663679b91a899?s=100" style="width: 100px; height: 100px;" alt="Dave Beer"/></a>

            <p><a href="https://plus.google.com/104965742247679291258?rel=author">Dave Beer</a>'s blog</p>
            <h2>Links</h2>
            <a href="http://feeds.feedburner.com/DaveBeer" title="RSS feed" class="rss">RSS</a>
            <a href="https://www.facebook.com/DaveBeer" title="davebeer @ Facebook" class="facebook">Facebook</a>
            <a href="https://twitter.com/davewasthere" title="davewasthere @ Twitter" class="twitter">Twitter</a>
            <a href="http://www.youtube.com/user/davewasthere" title="davewasthere @ Youtube" class="youtube">Youtube</a>
            <a href="http://www.linkedin.com/in/davebeer" title="davebeer @ LinkedIn" class="linkedin">LinkedIn</a>
            <a href="https://plus.google.com/104965742247679291258?rel=author" title="davebeer @ Google+" class="googleplus">Google+</a>
            <h2>Sites</h2>
            <div><a href="http://www.davewasthere.com" title="Dave was there" class="davewasthere">Travel blog</a></div>
    
        </div>

    </div>

    <div id="main">
    
        <div class="content">
    <div id="post">
        <div class="postdate">06 August 2012</div>
        <h1>Fixed priced quotes for Agile projects</h1>

        <p>I don&#8217;t often bid for work. In the past, I&#8217;ve normally been approached to work on a project by someone who either knows me, has worked with me, or has had some sort of recommendation. So it was a unique experience to write a proposal for a client who I believe wants a fixed price quote.</p>

<p>For one thing, <a href='http://www.codinghorror.com/blog/2004/09/development-is-inherently-wicked.html' rel='nofollow'>Software is a Wicked Problem</a>. In my early years of software development, I&#8217;d spent time doing traditional big design up front in an attempt to &#8216;nail down the requirements&#8217;. I can say now, with hindsight, that that is one of the riskiest ways of doing software development.</p>

<p>But I can understand the desire to know exactly how much something will cost, even if it&#8217;s not clear exactly what it is I&#8217;ll be building. My approach has been to Educate. Emphasising that there will be regular releases (I release weekly as a minimum) and to show that the client will have excellent visibility into progress means that very quickly it&#8217;ll be possible to measure planned vs actual business benefits.</p>

<p>Whether that is enough to win a project or not, I guess we&#8217;ll see. But I&#8217;m happier not getting the work rather than having to work on a fixed price project with vague initial specs and the ensuing contract negotiation that happens afterwards.</p>

<blockquote>
<p><strong>Note</strong>: <em>I&#8217;ve been a bit busy the past couple of months, so haven&#8217;t been able to write. Was travelling Europe by bike for a bit (and went low-tech). But have also been busy on a project for the Olympics (a seating application that manages VIP hospitality packages). Hopefully normal service will resume now&#8230;</em></p>
</blockquote>

        <div class="nextprev">

    <div class="prev">
         
                <a href="/posts/the-cost-of-a-cup-of-tea/" title="Previous Post: 
The cost of a cup of tea">&laquo; The cost of a cup of tea</a> 
         
    </div>

    <div class="next">
         
                <a href="/posts/innovation-in-business/" title="next Post: 
Innovation in business">Innovation in business &raquo; </a> 
         
    </div>

    <div class="clearall"></div>

</div>

        <p><a href="/" rel="author">Back Home</a></p>

    </div>
</div>


    </div>

    <footer>

    </footer>

  </div>

  
  </body>
</html>
